@using ElkaApp.Models



@{
    ViewBag.Title = "Index";
}
<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px 50px 50px;
    }

    .container-job {
        display: flex;
        border: 1px solid black;
        width: 100%;
        padding: 10px 20px 5px 20px;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        height: 130px;
    }

    .container-title {
        width: 20%;
    }

    .container-description {
        display: flex;
        align-items: center;
        width: 60%;
    }

    .container-job-date {
        display: flex;
        align-items: center;
        width: 20%;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .container-btn {
        margin-top: 40px;
        width: 100%;
    }

    .btn-class {
        width: 20%;
        border-radius: 20px;
    }

    .container-description > p {
        font-size: 11px;
    }

    .apply {
        border-radius: 20px;
        width: 180px;
    }

    @@media all and (max-width : 980px) {
        .container-title > h4, .container-title > p {
            font-size: 10px;
        }

        .container-description > p {
            font-size: 8px;
        }

        .container-job-date > p {
            font-size: 10px;
        }

        .apply {
            width: 80px;
        }
    }
</style>

@if (ViewBag.Message != null)
{

    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}



<div class="container">
    <h2 style="font-family:Roboto,sans-serif">JOBS</h2>
    <div class="container-btn">
        @if (this.User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Create", "Job")" class="btn btn-primary btn-class float-end">ADD JOB</a>
        }
    </div>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="container-job">

                <div class="container-title">
                    <h4>@item.Name</h4>
                    <p>@item.Location</p>
                </div>

                <div class="container-description">
                    <p>@item.Description</p>
                </div>

                <div class="container-job-date">
                    <p> @item.StartDate </p>
                    @if (this.User.IsInRole("User"))
                    {
                        <button class="btn btn-success apply" id="btnApply" data-id="@item.ID">APPLY</button>
                    }
                </div>
            </div>
        }

    }
    else
    {


    }

</div>
@section Scripts
{
<script>
    const btns = document.querySelectorAll("#btnApply");
    const div = document.querySelector('.container-job');
   
    btns.forEach(item => {
     
        
        item.addEventListener('click', () => {
            console.log(item)
            $.ajax({
                type: 'POST',
                url: '/Job/JobApply',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ jobID: item.getAttribute('data-id') }),
                success: (data) => {

                    if (data.success === true) {
                   
                        toastr.success(data.message, 'Success Alert', { timeOut: 3000 });
             
                    } else {
                        toastr.error(data.message, 'Information Alert', { timeOut: 3000 })
                    }


                },
                error: (data) => {
                    toastr.error(data.message, 'Error', { timeOut: 3000 })
                }
            });


        });
    });

</script>
}